# The common pin mappings for the BIGTREETECH SKR V1.3
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# See the sample-lcd.cfg file for definitions of common LCD displays.

[mcu]
serial: /dev/ttyACM0
restart_method: command

[printer]
kinematics: delta
max_velocity: 300
max_accel: 3000
max_z_velocity: 150
#delta_radius: 137.049938
print_radius: 135
minimum_z_position: -1.5

[stepper_a]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 40
endstop_pin: P1.28  # P1.28 for X-max # P1.29 for X-min
#position_endstop: 275
#position_max: 700
homing_speed: 20
#arm_length: 400

#arm_length: 400

[stepper_b]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 40
endstop_pin: P1.26  # P1.26 for Y-max # P1.27 min
#position_endstop: 271.651987
#position_max: 700
#homing_speed: 50

[stepper_c]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 40
endstop_pin: P1.24  # P1.24 for Z-max # P1.25 min
#position_endstop: 275.008485
#position_max: 700

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 33.292
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 29.866
pid_Ki: 1.778
pid_Kd: 125.436
min_temp: 0
max_temp: 280
pressure_advance : 0.26


########################################
# TMC2208 configuration
########################################

# For TMC2208 UART
#   1) Remove all of the jumpers below the stepper drivers
#   2) Place jumpers on the red pin headers labeled XUART (XUART, YUART etc.)




[tmc2208 stepper_a]
uart_pin: P1.17
run_current: 0.900
hold_current: 0.500
stealthchop_threshold: 999999






[tmc2208 stepper_b]
uart_pin: P1.15
run_current: 0.900
hold_current: 0.500
stealthchop_threshold: 999999

[tmc2208 stepper_c]
uart_pin: P1.10
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 999999

[tmc2208 extruder]
uart_pin: P1.8
run_current: 0.900
hold_current: 0.500
stealthchop_threshold: 999999

#[tmc2208 extruder1]
#uart_pin: P1.1
#run_current: 0.900
#hold_current: 0.500
#stealthchop_threshold: 999999



[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.23
max_power: 1.0
min_temp: 10.0
max_temp: 95.0
control: pid  #or watermark
pid_Kp: 33.956
pid_Ki: 0.266
pid_Kd: 1082.348


[bed_mesh]
speed: 80
horizontal_move_z: 6
mesh_radius: 75
#mesh_origin: 0,0
round_probe_count: 5
fade_end: 10
algorithm: bicubic
mesh_pps: 3, 3

#speed: 40
#horizontal_move_z: 5
#mesh_radius: 100
#mesh_origin: 0,0
#round_probe_count: 7
#fade_end: 10
#algorithm: bicubic

[output_pin tare]
pin: P2.0
#--------------------------------------------------------------------------
[gcode_macro BLINK_TARE]
gcode:
  SET_PIN PIN=tare VALUE=1
  G4 P300
  SET_PIN PIN=tare VALUE=0
#--------------------------------------------------------------------------
[probe]
pin: P1.25
z_offset: 0
samples: 2
samples_tolerance: 0.5
activate_gcode:
  BLINK_TARE
speed: 3.0
lift_speed: 10.0
samples_tolerance_retries: 2

#------------------------------------------------------------------------
[screws_tilt_adjust]
screw1: 92.604 , 52.407
screw1_name: BC

screw2: -1.796, -107.293
screw2_name: AB

screw3: -92.396, 52.407
screw3_name: CA

screw_thread: CW-M4

horizontal_move_z: 15
speed: 30
#-----------------------------------------------------------------------
[display]
lcd_type: st7920
cs_pin: EXP1_4
sclk_pin: EXP1_5
sid_pin: EXP1_3
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

[output_pin beeper]
pin: EXP1_1

[output_pin tare]
pin: P2.0

[heater_fan my_nozzle_fan]
pin: P2.4
max_power: 1.0
heater: extruder
heater_temp: 50.0

[delta_calibrate]
radius: 80
speed: 50
horizontal_move_z: 10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [printer]
#*# delta_radius = 158.591396
#*#
#*# [stepper_a]
#*# angle = 209.453955
#*# arm_length = 400.000000
#*# position_endstop = 273.322790
#*#
#*# [stepper_b]
#*# angle = 329.795065
#*# arm_length = 400.000000
#*# position_endstop = 271.393996
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 400.000000
#*# position_endstop = 275.324605
#*#
#*# [delta_calibrate]
#*# height0 = 0.0
#*# height0_pos = 21870.500,21870.500,21870.500
#*# height1 = 0.0
#*# height1_pos = 23551.500,23551.500,20213.500
#*# height2 = 0.0
#*# height2_pos = 21282.500,24558.000,21282.500
#*# height3 = 0.0
#*# height3_pos = 20280.000,23259.500,23259.500
#*# height4 = 0.0
#*# height4_pos = 21256.000,21256.000,23771.500
#*# height5 = 0.0
#*# height5_pos = 23002.500,20378.500,23002.500
#*# height6 = 0.0
#*# height6_pos = 24157.000,21264.500,21264.500
